CB_API_KEY="organizations/your-org-id/apiKeys/your-api-key"
CB_API_PRIVACY_KEY="-----BEGIN EC PRIVATE KEY-----\n... some-private-cert\n-----END EC PRIVATE KEY-----\n"
SHOULD_MAKE_MIN_TRADES='1'
FORCE_SELL='0'
FORCE_BUY='0'
