CB_API_KEY=organizations/your-org-id/apiKeys/your-api-key
CB_API_PRIVACY_KEY_B64=<your coinbase pem cert, b64 encoded>
SHOULD_MAKE_MIN_TRADES=1
FORCE_SELL=0
FORCE_BUY=0
SLACK_WEBHOOK_ID=T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX
ENABLE_DEBUG_LOGS=0
